.playerBox {
  box-shadow: 0px 0px 20px 0px rgb(180, 180, 180);
  background-color: rgb(225, 225, 225);
  width: 370px;
  height: 280px;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  h3 {
    margin: 0;
    font-size: 24px;
  }
  .cards {
    position: relative;
    height: 200px;
    margin-top: 20px;
    img {
      transition: all 0.2s;
      &:hover {
        z-index: 100000 !important;
        transform: scale(1.05);
      }
      position: absolute;
      left: 0;
      top: 0%;
      height: 200px !important;
    }
  }
}

.player1,
.player2,
.dealer {
  @extend .playerBox;
}

.player1 {
  right: 50%;
  top: 50%;
  transform: translate(-90%, -105%);
}

.player2 {
  right: 50%;
  top: 50%;
  transform: translate(-90%, 5%);
}

.dealer {
  left: 50%;
  top: 50%;
  transform: translate(90%, -50%);
}
