@import "../../../variables.scss";

.playerBox {
  box-shadow: 0px 0px 20px 0px rgb(224, 224, 224);
  background-color: rgb(225, 225, 225);
  width: 23vw;
  height: 32vh;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  h3 {
    margin: 0;
    font-size: 24px;
  }
  .cards {
    position: relative;
    margin-top: 20px;
    img {
      transition: all 0.2s;
      &:hover {
        z-index: 100000 !important;
        transform: scale(1.05);
      }
      position: absolute;
      left: 0;
      top: 0%;
      height: 25vh !important;
    }
  }
}

.player1,
.player2,
.dealer {
  @extend .playerBox;
}

.player1 {
  left: 32.5vw;
  top: 70vh;
  transform: translate(-32.5vw, -67vh);
}

.player2 {
  left: 32.5vw;
  bottom: 70vh;
  transform: translate(-32.5vw, 67vh);
}

.current {
  border: 1px solid rgb(186, 186, 186);
  background-color: rgb(206, 255, 211);
}

.dealer {
  right: 32.5vw;
  top: 35vh;
  transform: translate(32.5vw, -17.5vh);
}

.bust {
  height: 70px;
  background-color: white;
  width: 220px;
  color: $red1;
  position: absolute;
  border-radius: 5px;
  border: 3px solid $red1;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}
