.playingView {
  height: 100%;
  position: relative;
}

.table {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../Assets/borderImage.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  width: 35vw;
  height: 70vh;
  padding: 25px;
  box-shadow: 0px 0px 20px 0px rgb(143, 143, 143);
}

.mat {
  position: relative;
  width: 100%;
  height: 55vh;
  border-radius: 10px;
  background-color: rgb(0, 219, 109);
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.leave {
  position: absolute;
  right: 10px;
  top: 10px;
}

.code {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -1%);
  text-align: center;
  color: white;
  background-color: rgb(33, 33, 33);
  padding: 7px 30px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  * {
    margin: 0;
  }
  span {
    font-size: 11px;
  }
  h3 {
    font-size: 30px;
  }
}
