.result {
  position: absolute;
  top: 43%;
  padding: 10px 20px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  background-color: white;
  width: 250px;
  h3 {
    padding-top: 10px;
    text-align: center;
    margin: 0;
  }
}

.resdult {
  position: absolute;
  bottom: 100px;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, 0);
  button {
    position: relative;
    width: 130px;
    height: 130px;
    margin: 0px 20px;
    font-weight: bold;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 0px 20px 0px rgb(70, 70, 70);
    transition: all 0.1s;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      &::before {
        content: "";
        position: absolute;
        width: 130px;
        height: 10px;
        background-color: red;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
        content: "";
        position: absolute;
        width: 125px;
        height: 125px;
        border-radius: 100%;
        border: 10px solid red;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    &:hover:enabled {
      transform: scale(1.1);
    }
  }
}
