.Footer_footer__9fHBd {
  box-shadow: 0 30px 50px 1px #8e8e8e;
  font-size: 14px;
  padding: 10px 30px;
  text-align: center;
}
.Header_header__dnX1G {
  align-items: center;
  background-image: linear-gradient(#ff0051, #8e002d);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}
.Header_header__dnX1G h1 {
  margin: 0;
}
.AppLoader_appLoader__7QaXW {
  background-color: rgba(54, 54, 54, 0.603);
  height: 100vh;
  position: absolute;
  width: 100vw;
  z-index: 100000;
}
.AppLoader_appLoader__7QaXW div {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.Loader_loader__G\+HWb.Loader_small__YwKwm img {
  height: 30px;
}
.Loader_loader__G\+HWb.Loader_medium__IccMx img {
  height: 60px;
}
.Loader_loader__G\+HWb.Loader_large__s0LgM img {
  height: 120px;
}
.Loader_loader__G\+HWb img {
  -webkit-animation: Loader_spin__MmEFh 0.5s linear infinite;
  animation: Loader_spin__MmEFh 0.5s linear infinite;
}
@-webkit-keyframes Loader_spin__MmEFh {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes Loader_spin__MmEFh {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.Divider_divider__0W23W {
  background-color: #bfbfbf;
  color: gray;
  height: 1px;
  position: relative;
  width: 100px;
  width: 100%;
}
.Divider_divider__0W23W span {
  background-color: #bfbfbf;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  left: 50%;
  padding: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 18px;
}
.Button_button__x2WHk {
  background-image: linear-gradient(#840000, red);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 7px 20px 5px;
  transition: all 0.1s;
  width: 100%;
}
.Button_button__x2WHk:hover:enabled {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.Button_button__x2WHk:disabled {
  cursor: not-allowed;
}
.Button_large__24\+2i {
  font-size: 30px;
  padding: 10px 30px;
}
.Button_green__BMnMk {
  background-image: linear-gradient(#106b49, #014b30);
}
.Button_blue__Gf1eK {
  background-image: linear-gradient(#0070c0, #20007f);
}
.WelcomeView_welcomeView__lBwXA {
  left: 50%;
  position: absolute;
  top: 20%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 400px;
}
.WelcomeView_welcomeView__lBwXA input {
  border: none;
  border-radius: 10px;
  font-size: 24px;
  height: 45px;
  margin-bottom: 10px;
  outline: 1px solid #d2d2d2;
  padding: 0;
  text-align: center;
  width: 100%;
}
.WelcomeView_welcomeView__lBwXA .WelcomeView_message__LBsK5 {
  color: #ff0051;
  margin: 30px auto 0;
  position: relative;
  width: 80%;
}
.WelcomeView_welcomeView__lBwXA .WelcomeView_message__LBsK5:before {
  background-color: #ffd6d6;
  border: 1px solid #ff0051;
  border-radius: 5px;
  content: "";
  height: 130%;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 110%;
  z-index: -1;
}
.PlayerPositions_dealer__WJlF7,
.PlayerPositions_player1__HZDEq,
.PlayerPositions_player2__t4r\+G,
.PlayerPositions_playerBox__N0ejm {
  background-color: #e1e1e1;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 #e0e0e0;
  height: 32vh;
  padding: 20px;
  position: absolute;
  width: 23vw;
}
.PlayerPositions_dealer__WJlF7 h3,
.PlayerPositions_player1__HZDEq h3,
.PlayerPositions_player2__t4r\+G h3,
.PlayerPositions_playerBox__N0ejm h3 {
  font-size: 24px;
  margin: 0;
}
.PlayerPositions_dealer__WJlF7 .PlayerPositions_cards__dKHrr,
.PlayerPositions_player1__HZDEq .PlayerPositions_cards__dKHrr,
.PlayerPositions_player2__t4r\+G .PlayerPositions_cards__dKHrr,
.PlayerPositions_playerBox__N0ejm .PlayerPositions_cards__dKHrr {
  margin-top: 20px;
  position: relative;
}
.PlayerPositions_dealer__WJlF7 .PlayerPositions_cards__dKHrr img,
.PlayerPositions_player1__HZDEq .PlayerPositions_cards__dKHrr img,
.PlayerPositions_player2__t4r\+G .PlayerPositions_cards__dKHrr img,
.PlayerPositions_playerBox__N0ejm .PlayerPositions_cards__dKHrr img {
  height: 25vh !important;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s;
}
.PlayerPositions_dealer__WJlF7 .PlayerPositions_cards__dKHrr img:hover,
.PlayerPositions_player1__HZDEq .PlayerPositions_cards__dKHrr img:hover,
.PlayerPositions_player2__t4r\+G .PlayerPositions_cards__dKHrr img:hover,
.PlayerPositions_playerBox__N0ejm .PlayerPositions_cards__dKHrr img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 100000 !important;
}
.PlayerPositions_player1__HZDEq {
  left: 32.5vw;
  top: 70vh;
  -webkit-transform: translate(-32.5vw, -67vh);
  transform: translate(-32.5vw, -67vh);
}
.PlayerPositions_player2__t4r\+G {
  bottom: 70vh;
  left: 32.5vw;
  -webkit-transform: translate(-32.5vw, 67vh);
  transform: translate(-32.5vw, 67vh);
}
.PlayerPositions_current__aTope {
  background-color: #ceffd3;
  border: 1px solid #bababa;
}
.PlayerPositions_dealer__WJlF7 {
  right: 32.5vw;
  top: 35vh;
  -webkit-transform: translate(32.5vw, -17.5vh);
  transform: translate(32.5vw, -17.5vh);
}
.PlayerPositions_bust__620x0 {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid #ff0051;
  border-radius: 5px;
  color: #ff0051;
  font-size: 40px;
  font-weight: 700;
  height: 70px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-20deg);
  transform: translate(-50%, -50%) rotate(-20deg);
  width: 220px;
}
.ActionButtons_actionButtons__hsKvC,
.PlayerPositions_bust__620x0 {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  z-index: 1000;
}
.ActionButtons_actionButtons__hsKvC {
  bottom: 0;
  flex-direction: row;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 100%;
}
.ActionButtons_actionButtons__hsKvC .ActionButtons_holder__\+DMQg {
  align-items: center;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: row;
  height: 18vh;
  justify-content: space-around;
  padding: 0 20px;
  width: 20vw;
}
.ActionButtons_actionButtons__hsKvC button {
  border: none;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 14vh;
  position: relative;
  transition: all 0.1s;
  width: 14vh;
}
.ActionButtons_actionButtons__hsKvC button:active:enabled {
  -webkit-transform: scale(0.9) !important;
  transform: scale(0.9) !important;
}
.ActionButtons_actionButtons__hsKvC button:disabled {
  cursor: not-allowed;
}
button.ActionButtons_next__meP7E {
  background-image: linear-gradient(45deg, #0070c0 30%, #2a98ff, #0070c0 70%);
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  height: 10vh;
  width: 300px;
}
button.ActionButtons_hit__RHIPP {
  background-image: linear-gradient(45deg, #ff0051 30%, #ff6a6a, #ff0051 70%);
  font-size: 40px;
}
button.ActionButtons_hit__RHIPP:hover:enabled {
  background-image: linear-gradient(45deg, #ff0051 40%, #ff6a6a, #ff0051 80%);
}
.ActionButtons_stand__OHapw {
  background-image: linear-gradient(45deg, #0070c0 30%, #2a98ff, #0070c0 70%);
}
.ActionButtons_stand__OHapw:hover:enabled {
  background-image: linear-gradient(45deg, #0070c0 40%, #2a98ff, #0070c0 80%);
}
.ActionButtons_roundWait__EdkU9 {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.ResultBox_result__FAIRl {
  background-image: url(/static/media/paperTexture.b4ea116f5fa7dc6899ca.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 38vh;
  left: 50%;
  padding: 10px 20px;
  position: absolute;
  top: 10vh;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 20vw;
}
.ResultBox_result__FAIRl h3 {
  font-size: 26px;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.ResultBox_result__FAIRl table {
  width: 100%;
}
.ResultBox_result__FAIRl table tr {
  font-size: 18px;
  text-align: left;
}
.ResultBox_result__FAIRl table td,
.ResultBox_result__FAIRl table th {
  padding-bottom: 10px;
}
.ResultBox_result__FAIRl table .ResultBox_count__FnZww {
  text-align: center;
}
.ResultBox_result__FAIRl table .ResultBox_wins__e9xNd {
  color: green;
  font-weight: 700;
}
.ResultBox_result__FAIRl table .ResultBox_loses__WDnG\+ {
  color: #ff0051;
  font-weight: 700;
}
.ResultBox_result__FAIRl .ResultBox_infoBox__PN1Wo {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  text-align: center;
}
.ResultBox_result__FAIRl .ResultBox_infoBox__PN1Wo > :not(:last-child) {
  padding-bottom: 5px;
}
.ResultBox_result__FAIRl .ResultBox_resultText__8m13X {
  font-size: 30px;
  font-weight: 700;
}
.ResultBox_result__FAIRl .ResultBox_win__B\+aqV {
  color: green;
}
.ResultBox_result__FAIRl .ResultBox_loses__WDnG\+ {
  color: red;
}
.ResultBox_result__FAIRl .ResultBox_draw__CHKRN {
  color: #a7a700;
}
.PlayingView_playingView__XD-9f {
  height: 100%;
  position: relative;
}
.PlayingView_table__sXjiA {
  background-image: url(/static/media/borderImage.4b1ea1663702576403cf.jpg);
  background-position: 50%;
  background-size: cover;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 #8f8f8f;
  height: 70vh;
  left: 50%;
  padding: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35vw;
}
.PlayingView_mat__v26No {
  background-color: #00db6d;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239C92AC' fill-opacity='.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  border-radius: 10px;
  height: 55vh;
  position: relative;
  width: 100%;
}
.PlayingView_leave__KyAKS {
  position: absolute;
  right: 10px;
  top: 10px;
}
.PlayingView_code__eB1g9 {
  background-color: #212121;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff;
  left: 50%;
  padding: 7px 30px;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -1%);
  transform: translate(-50%, -1%);
}
.PlayingView_code__eB1g9 * {
  margin: 0;
}
.PlayingView_code__eB1g9 span {
  font-size: 11px;
}
.PlayingView_code__eB1g9 h3 {
  font-size: 30px;
}
* {
  font-family: sans-serif;
}
.text {
  color: gray;
  font-size: 14px;
}
.text.md {
  font-size: 18px;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.dataBox {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #626262;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
}
#main {
  background-color: #f2f2f2;
  flex: 1 1;
  padding: 20px 30px;
}
/*# sourceMappingURL=main.b8f60ec7.css.map*/
