// global vars
$red1: #ff0051;
$red2: #8e002d;
$green1: rgb(16, 107, 73);
$green2: rgb(1, 75, 48);
$accentcolor2: rgb(39, 0, 155);

* {
  font-family: sans-serif;
}

.text {
  font-size: 14px;
  color: gray;
  &.md {
    font-size: 18px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.dataBox {
  box-shadow: 0px 0px 20px 0px rgb(98, 98, 98);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

#main {
  padding: 20px 30px;
  background-color: rgb(242, 242, 242);
  flex: 1;
}
