// global vars
$red1: #ff0051;
$red2: #8e002d;
$green1: rgb(16, 107, 73);
$green2: rgb(1, 75, 48);
$blue1: rgb(0, 112, 192);
$blue2: rgb(32, 0, 127);
$lightBlue1: rgb(0, 208, 211);
$lightBlue2: rgb(0, 175, 172);
